.project__container{
    display: grid;
}
.project__container{
    font-size: var(--h3-font-size);
    font-weight: var(--weight-600);
    margin-bottom:20px;
}


/*                ------------------------------------------            */
 .project__container{
    grid-template-columns: repeat(3, 1fr);
    margin-right: 30px;
    
 }
 .project__item{
    position: relative;
    border-radius: 10px;
    overflow: hidden; 
    cursor: pointer;
    margin: 10px;
 }
 .project__img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
 }
 .project__hover{
    background-color: var(--first-color);
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    /* margin: 10px; */
    opacity: 0;
    transition: all 0.5s ease;
 }

.project__item:hover .project__hover{
    opacity: 1;

}

 .project__title{
    color: var(--text-white);
    font-size: var(--lage-font-size);
    font-weight: var(--weight-600);
    transform: translateY(-20px);
    transition: all 0.5s ease;

 }
 .project__item:hover .project__title{
    transform: translateY(0);
 }





/*

.project__modal{
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.7);
} */