.project__container{
    display: grid;
}
.project__container{
    font-size: var(--h3-font-size);
    font-weight: var(--weight-600);
    margin-bottom:100px;
}


/*                ------------------------------------------            */
 .project__container{
    grid-template-columns: repeat(3, 1fr);
    margin-right: 30px;
    
 }
 .project__item{
    position: relative;
    border-radius: 10px;
    overflow: hidden; 
    cursor: pointer;
    margin: 10px;
 }
 .project__img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
 }
 .project__hover{
    background-color: var(--first-color);
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    /* margin: 10px; */
    opacity: 0;
    transition: all 0.5s ease;
 }

.project__item:hover .project__hover{
    opacity: 1;

}

 .project__title{
    color: var(--text-white);
    font-size: var(--lage-font-size);
    font-weight: var(--weight-600);
    transform: translateY(-20px);
    transition: all 0.5s ease;

 }
 .project__item:hover .project__title{
    transform: translateY(0);
 }
.project__modal{
   position: fixed;
   inset: 0;
   background-color: hsla(0, 0%, 0%, 0.7);
   z-index: 1000;
   display:grid;
   place-items: center;
   padding: 15px;
}

.project__modal-content{
   background-color: var(--container-color);
   max-width:650px;
   width: 100%;
   padding: 32px;
   border-radius: 10px;
   position: relative;
}

.modal__close{
   position: absolute;
   top: -3.5px;
   right: -8.5%;
   width: 50px;
   height: 50px;
   filter:invert(0.8);
}
.modal__title{
   text-align: center;
   color: var(--first-color);
   font-size: var(--h2-font-size);
   letter-spacing: 2px;
   margin-bottom: 24px;
}
.modal__list{
   grid-template-columns: repeat(2,1fr);
   row-gap: 10px;
   margin-bottom: 24px;
}


.modal__img{
   width: 100%;
   height: 350px;
}



/*

.project__modal{
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.7);
} */